body {
  margin: 0;
  padding: 0;
}
p {
  text-indent: 30px;
  margin: 0;
}

@font-face {
  font-family: 'arial';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/arial.ttf');
}
@font-face {
  font-family: 'arialBoldItalic';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/arialbi.ttf');
}
@font-face {
  font-family: 'times-new-roman-bold-italic';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman-bold-italic-2.ttf');
}
@font-face {
  font-family: 'times-new-roman-italic';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman-italic.ttf');
}
@font-face {
  font-family: 'times-new-roman-bold';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman-bold.otf');
}
@font-face {
  font-family: 'times-new-roman';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman.ttf');
}
@font-face {
  font-family: 'Inkfree';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/Inkfree.ttf');
}
@font-face {
  font-family: 'mvboli';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/mvboli.ttf');
}
#listRightSec3 > Ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-right: 0.4rem;
  margin: 0;
}
#listRightSec4 > ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-right: 0.4rem;
  margin: 0;
}

.page{
  display: flex;
  flex-direction: column;
  min-height: 11in;
  width: 8.5in;
  justify-content: space-between;
  border: 1px solid black;
}
.page1HeaderLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tabloidParent{
  justify-content: center;
}
.zeropara{
  margin-top: 0.35rem;
}
.zeropara1{
  margin-top: 1rem;
}
.zeropara2{
  margin-top: 1.2rem;
}

#header{
  text-align: center;
  align-self: center;
}

.boldfont{
  font-weight: bold;
}

#textdiv{
  flex: 1 1 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 50%;
}

#boxdiv{
  flex: 1 1 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  text-align: center;
  border-style: solid;
  padding: 10px;
  border-radius: 20px;
}

@media all and (max-width: 8.5in){
  .page{
      width: 100%;
  }
  .tabloidParent{
    width: 100%;
  }  
}
