body {
  margin: 0;
  padding: 0;
}
p {
  /* text-indent: 30px; */
  margin: 0;
}

#dollarImage{
  width: 70px;
  position: absolute;
  height: 30px;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
}
#smileyImage{
  /* width: 70px; */
  position: absolute;
  /* height: 30px; */
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
}
#bluedollar{
  /* width: 70px; */
  position: absolute;
  top: 30px;
  left: 290px;
  /* height: 30px; */
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
}
#clock{
  /* width: 70px; */
  position: absolute;
  top: 490px;
  left: 270px;
  /* height: 30px; */
  z-index: 1;
  background-repeat: no-repeat; 
  background-size: 100%;
}
#sadface{
  position: absolute;
  /* top: 910px; */
  left: 160px;
  /* height: 30px; */
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
}
#bluearrow{
  /* width: 70px; */
  position: absolute;
  top: 90px;
  left: 210px;
  /* height: 30px; */
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
}
#wavearrow{
  /* width: 70px; */
  position: absolute;
  top: 360px;
  left: 350px;
  /* height: 30px; */
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
}
#starImg{
  width: 60px;
  position: absolute;
  left:12px;
  height: 50px;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
}
#starImg1{
  width: 50px;
  position: absolute;
  left:16px;
  height: 40px;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
}
#starImg2{
  width: 40px;
  position: absolute;
  left:18px;
  height: 30px;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
}
.page4text{
  margin-bottom: 10px;
  text-align: left;
  color: black;
}
@font-face {
  font-family: 'arial';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/arial.ttf');
}
@font-face {
  font-family: 'Courier';
  font-style: normal;
  vertical-align: middle;
  src: url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');
}
@font-face {
  font-family: 'IBMplex';
  font-style: normal;
  vertical-align: middle;
  src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Roboto+Slab:wght@500&display=swap');
}
@font-face {
  font-family: 'Montessarat';
  font-style: normal;
  vertical-align: middle;
  src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Montserrat:wght@300&family=Roboto+Slab:wght@500&display=swap');
}
/* @font-face {
  font-family: 'DecodedFont';
  src: url('decoded-font.woff') format('woff');
} */
@font-face {
  font-family: 'roboto';
  font-style: normal;
  vertical-align: middle;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
}
@font-face {
  font-family: 'arialBoldItalic';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/arialbi.ttf');
}
@font-face {
  font-family: 'times-new-roman-bold-italic';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman-bold-italic-2.ttf');
}
@font-face {
  font-family: 'times-new-roman-italic';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman-italic.ttf');
}
@font-face {
  font-family: 'times-new-roman-bold';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman-bold.otf');
}
@font-face {
  font-family: 'times-new-roman';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman.ttf');
}
@font-face {
  font-family: 'Inkfree';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/Inkfree.ttf');
}
@font-face {
  font-family: 'mvboli';
  font-style: normal;
  vertical-align: middle;
  src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/mvboli.ttf');
}
#listRightSec3 > Ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-right: 0.4rem;
  margin: 0;
}
#listRightSec4 > ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-right: 0.4rem;
  margin: 0;
}

.page{
  display: flex;
  flex-direction: column;
  min-height: 11in;
  width: 8.5in;
  justify-content: space-between;
  border: 1px solid black;
}
.page1HeaderLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tabloidParent{
  justify-content: center;
}
.zeropara{
  margin-top: 0.35rem;
}
.zeropara1{
  margin-top: 1rem;
}
.zeropara2{
  margin-top: 1.2rem;
}

#header{
  text-align: center;
  align-self: center;
}

.boldfont{
  font-weight: bold;
}

.boxdiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-style: solid;
  padding: 10px 10px 10px 0;
}
.box1div{
  border-style: solid;
  padding: 10px;
  margin-bottom: 2px;
  background-color: #4f81bd;
}
.box2div{
  border-style: solid;
  padding: 10px;
  background-color: #a6a6a6;
}
.footerhead{
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
}
#footerheadtext{
  width: 180%;
}
#footerheadtext1{
  width: 180%;
  font-size: 20px;
}
#profileimg{
  width: 120px;
  height: 120px;
  z-index: 1;
  box-shadow: 8px 8px 0px grey;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: bottom;
  margin-left: 60px;
  margin-right: 20px;
}
#endtext{
  text-align: left;
  color: black;
}
.lefttext{
  margin-bottom: 15px;
  /* font-family: 'IBMplex'; */
}
/* .textdiv{
  font-style: 'IBMplex';
} */

.text{
  font-size: 17px;
  color: black
}
/* #third{
  rotate: 90deg;
  width: 500px;
  height: 500px;
} */
.highlight{
  background-color: yellow;
}
.highlight1{
  background-color: #4F81BD;
}

@media all and (max-width: 8.5in){
  .page{
      width: 100%;
  }
  .tabloidParent{
    width: 100%;
  }  
}
